.articlesFavoriteScreen-component .icon-tag{
    cursor: default;
}

.articlesFavoriteScreen-component .popular-tag{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    overflow-y: scroll;
}

.articlesFavoriteScreen-component .popular-tag::-webkit-scrollbar {
    width: 8px;
    display: none;
}
.articlesFavoriteScreen-component .popular-tag:hover::-webkit-scrollbar {
    width: 8px;
    display: block;
}

/* Track */
.articlesFavoriteScreen-component .popular-tag::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.articlesFavoriteScreen-component .popular-tag::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
.articlesFavoriteScreen-component .popular-tag::-webkit-scrollbar-thumb:hover {
    background: #555;
}