.articlesFavoriteScreen-component .icon-tag{
    cursor: default;
}

.articlesFavoriteScreen-component .popular-tag{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    overflow-y: auto;
}