.list-user-un-follow-component .un-follow-list .user-un-follow .image {
    height: 48px;
    width: 48px;
}

.list-user-un-follow-component .un-follow-list .user-un-follow .username {
    font-size: 0.8em;
    color: #000;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.list-user-un-follow-component .un-follow-list .user-un-follow .bio {
    font-size: 0.7em;
    color: rgba(117, 117, 117, 1);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.list-user-un-follow-component .un-follow-list .user-un-follow .btn {
    font-size: 0.6em;
    padding: 0.25rem 0.5rem;
}

.list-user-un-follow-component .un-follow-list .btn-see-more {
    font-size: 0.7em;
    color: rgba(117, 117, 117, 1);
    cursor: pointer;
}
.list-user-un-follow-component .un-follow-list .btn-see-more:hover {
    text-decoration: underline;
}

/*==============================================================*/
.list-user-un-follow-component #listUserUnFollowModal {
    z-index: 2500 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.list-user-un-follow-component #listUserUnFollowModal .modal-content {
    width: 900px !important;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    z-index: 2600;
}
.list-user-un-follow-component #listUserUnFollowModal .modal-content {
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
}
.list-user-un-follow-component #listUserUnFollowModal .modal-content .btn {
    font-size: 0.8em;
    padding: .25em .5em
}

.list-user-un-follow-component #listUserUnFollowModal .modal-content .title {
    font-size: 1.5em;
    font-weight: 700;
}
.list-user-un-follow-component #listUserUnFollowModal .modal-content .description {
    font-size: 1em;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}

.list-user-un-follow-component #listUserUnFollowModal .modal-content .user-follow .image {
    height: 36px;
    width: 36px;
}

.list-user-un-follow-component #listUserUnFollowModal .modal-content .follow-list {
    height: 420px;
    overflow-y: auto;
}

.list-user-un-follow-component #listUserUnFollowModal

    .modal-content
    .follow-list::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.list-user-un-follow-component #listUserUnFollowModal

    .modal-content
    .follow-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.list-user-un-follow-component #listUserUnFollowModal

    .modal-content
    .follow-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
.list-user-un-follow-component #listUserUnFollowModal

    .modal-content
    .follow-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-user-un-follow-component #listUserUnFollowModal .modal-content .user-follow .username {
    font-size: 0.8em;
    font-weight: 700;
    color: #000;
}
.list-user-un-follow-component #listUserUnFollowModal .modal-content .user-follow .bio {
    font-size: 0.7em;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
}

.list-user-un-follow-component #listUserUnFollowModal .modal-body .title-modal {
    font-size: 1em;
    font-weight: 700;
}

.list-user-un-follow-component #listUserUnFollowModal .modal-list-user-follow-overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}
