.trending-component .articles {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.trending-component .article .id{
    font-size: 1.8em !important;
    color: rgb(197, 197, 197);
    font-weight: bold;
    margin-top: -10px;
}

.trending-component .article .title{
    font-size: 0.9em;
}
.trending-component .article .date{
    font-size: 0.7em;
    color: rgba(117, 117, 117, 1);
}

.trending-component .article .author img{
    width: 36px;
    height: 36px;
}

.trending-component .article .author .name{
    font-size: 0.8em;
}